h2 {
  background-color: grey;
}
h1 {
  text-align: center;
}
body {
  margin-left: 10%;
  margin-right: 10%;
}
.parrafo{
 display: inline;
}
.img {
  width: 15em;
  height: 12em;
  float:left;
}
.div {
  margin-right: 10%;
  margin-left: 10%;
}